* {
    box-sizing: border-box; /*Hace que el padding y el border queden incluídos dentro del width (para calcular el tamaño de los elementos)*/
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /*Oculta la barra de desplazamiento horizontal, lo que impide hacer scroll en ese sentido*/
}

h1 {
    font-size: 2.5em;
}