* {
    box-sizing: border-box; /*Hace que el padding y el border queden incluídos dentro del width (para calcular el tamaño de los elementos)*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(90deg, #373737, #473524, #82562f, #d8b08b);
}

footer{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #373737);
}

aside{
    background: linear-gradient(135deg, #606060, #000000);
}