* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

html {
    height: 100vh;
    width: 100vh;
}

header {
    color: #8b7355;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #c9a66b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #775935;
}

header nav {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-right: 3%;
    border-collapse: collapse;
}

header nav ul {
    display: flex;
    box-sizing: border-box;
    gap: 20px;
    padding-left: 3%;
    border-collapse: collapse;
}

header nav ul li {
    display: inline;
}

.botonbusqueda {
    height: 20%;
    margin-right: 20px;
}

aside {
    border-collapse: collapse;
    display: flex;
    padding: 1%;
    width: auto;
    background: linear-gradient(135deg, #606060, #000000);
    text-align: justify;
    align-items: stretch;
}

aside nav {
    position: sticky;
    top: 4rem;
    height: fit-content;
}

aside nav ul li {
    display: flex;
    flex-direction: column;
}

aside :not(.botonreserva) {
    color: white;
}

aside ul {
    display: flex;
  flex-direction: column;
  gap: 10px;
}

.botonreserva {
    
    background-color: #4b3f2f;
    color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: pointer;
    color: #c29968;
}

body {
    background: linear-gradient(90deg, #373737, #473524, #82562f, #d8b08b);
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #373737);
    text-align: center;
    font-size: 80%;
    color: #8f846e;
}

footer a {
    display: inline;
    color: #8f846e;
    text-shadow: 2px 2px 4px #0a0a0a;
}

footer p {
    text-shadow: 4px 4px 4px #0a0a0a;
}

.asideMainFooter {
    width: 100%;
    display: flex;
    min-height: 100vh;
    margin: 0;
}

.mainFooter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

main {
    border-collapse: collapse;
    gap: 15px;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    color: #cfb583;
    height: 100%;
}

main select {
    width: 20%;
}

.filtros {
    display: flex;
    gap: 10px;
}

.registro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.libros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    box-shadow: 5px 5px 15px -4px #000000;
    gap: 10%;
    width: 210px;
    background-color: #8b7355;
    border: none;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
}

article table {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

article table th,
td {
    justify-content: center;
    display: flex;
    text-align: center;
}

article a {
    width: 100%;
    text-align: justify;
    overflow-wrap: break-word;
}

article h3 {
    text-align: center;
}