* {
    box-sizing: border-box; /*Hace que el padding y el border queden incluídos dentro del width (para calcular el tamaño de los elementos)*/
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
}

html {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /*Oculta la barra de desplazamiento horizontal, lo que impide hacer scroll en ese sentido*/
}

h1 {
    font-size: 2.5em;
}

header {
    color: #8b7355;
    width: 100%;
    position: sticky; /*Para que el header siempre esté visible aún cuando se hace scroll*/
    top: 0;
    z-index: 1000; /*Sirve para sobreponer el header con respecto a las demás partes de la página*/
    background-color: #e7ddcd;
    display: flex; /*Vuelve los contenedores flexibles, que ayuda a controlar el posicionamiento de los hijos del contenedor donde se aplica*/
    justify-content: space-between;
    align-items: center;
}

header a {
    white-space: normal; /*El texto se ajusta cuando no hay espacio suficiente*/
    min-width: 0;
    color: #775935;
}

header nav {
    display: flex;
    justify-content: space-around;
    padding-right: 3%;
}

header nav ul {
    display: flex;
    gap: 1rem;
    padding-left: 3%;
}

header nav ul li {
    display: inline;
}

.botonbusqueda {
    height: 20%;
    margin-right: 1%;
}

aside {
    display: flex;
    padding: 1%;
    width: auto;
    background: linear-gradient(135deg, #606060, #000000);
    text-align: justify;
}

aside nav {
    position: sticky;
    top: 4rem;
    height: fit-content; /*Permite que el nav ocupe el espacio disponible y quede visible cuando se scrollea*/
}

aside nav ul li {
    display: flex;
    flex-direction: column;
}

aside :not(.botonreserva) {
    color: white;
}

aside ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.botonreserva {
    background-color: #4b3f2f;
    border: none;
    padding: 5px 15px;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #c29968;
    box-shadow: 5px 5px 15px -4px #000000;
}

body {
    background: linear-gradient(90deg, #373737, #473524, #82562f, #d8b08b);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 3rem;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #373737);
    text-align: center;
    font-size: 80%;
    color: #8f846e;
}

footer a {
    display: inline;
    color: #8f846e;
    text-shadow: 2px 2px 4px #0a0a0a;
}

footer p {
    text-shadow: 4px 4px 4px #0a0a0a;
}

.asideMainFooter {
    width: 100%;
    display: flex;
    min-height: 100vh;
    margin: 0;
    gap: 2rem;
}

.mainFooter {
    gap:2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}

main {
    gap: 15px;
    padding: 1.5%;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    min-width: 0%;
    color: #cfb583;
    height: 100%;
}

main select {
    height: 70%;
    width: 60%;
    color: #cfb583;
    background-color: #8b7355;
    box-shadow: 5px 5px 15px -4px #000000;
    border-radius: 0.6rem;
}

.filtros {
    padding-top: 1rem;
    padding-right: 4rem;
    display: flex;
    gap: 10px;
}

.titulofiltros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none; /*Quita la línea inferior de los hipervínculos*/
}

.libros {
    display: flex;
    flex-wrap: wrap; /*Permite que los elementos en el interior se desborden hacía una línea nueva*/
    gap: 20px;
}

article {
    box-shadow: 5px 5px 15px -4px #000000;
    gap: 10%;
    width: 210px;
    background-color: #8b7355;
    border: none;
    padding: 15px;
    border-radius: 0.6rem;
    cursor: pointer;
}

article table {
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
}

article table th,
td {
    justify-content: center;
    display: flex;
    text-align: center;
}

article a {
    width: 100%;
    text-align: justify;
    overflow-wrap: break-word;
}

article h3 {
    text-align: center;
}


.contenidoCentradoMain {
    align-items: center;
}

.recuadroFormulario {
    margin-left: 5%;
    margin-top: 5%;
    height: 100%;
    display: flex;
    width: 40%;
    padding: 1%;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px -4px #000000;
    background-color: #8b7355;
    border-radius: 1rem;
    color: #cfb583;
    border: none;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

h1{
    text-align: center;
    
}


.recuadroFormulario form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recuadroFormulario a {
    color: #cfb583;
    
}

.recuadroFormulario label {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
}

#recordarC {
    font-size: 1em;
    justify-content: flex-start;
}

.botonIngresar {
    background-color: #64533e;
    border: none;
    padding: 5px 15px;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #ebcc90;
    box-shadow: 5px 5px 15px -4px #000000;
    width: 5rem;
    display: flex;
    align-self: center;
}

.botonRegistro {
    background-color: #64533e;
    border: none;
    height: 2em;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #ebcc90;
    box-shadow: 5px 5px 15px -4px #000000;
    width: 6.5rem;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.recuerdame {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.formRegistro {
    white-space: normal;
    display: flex;
    justify-items: center;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

.formRegistro .fila {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2%;
}



#fechanaci{
    width: 10.3em;
}

.recuadroFormularioR {
    margin-left: 4rem;
    margin-top: 4rem;
    height: 100%;
    display: flex;
    width: 40%;
    padding: 0.5%;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 15px -4px #000000;
    background-color: #8b7355;
    border-radius: 1rem;
    color: #cfb583;
    border: none;
    padding-bottom: 1rem;
    flex-wrap: nowrap;
}


.recuadroFormularioR form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.recuadroFormularioR a {
    color: #cfb583;
}

.recuadroFormularioR label {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
}