* {
    box-sizing: border-box; 
    margin: 0%;
    padding:0%;
    font-family: 'Arial', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

header {
    background-color: #c9a66b;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding-right: 1%;
}

header nav ul {
    display: flex;
    box-sizing: border-box;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

.cuadrobusqueda {
    height: 20%;
}

.botonbusqueda {
    height: 20%;
    margin-right: 20px;
}

aside {
    padding-top: 2%;
    padding-left: 2%;
    width: 15%;
    background: linear-gradient(135deg, #606060, #000000);
    text-align: justify;
}

aside :not(.botonreserva){
    color: white;
}

.botonreserva {

    color: #8b7355;
}

 body {
    background: linear-gradient(90deg, #373737, #473524, #82562f, #d8b08b);
    height: 100%;
 }

 footer {
    height: 10%;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #373737);
    text-align: center;
    font-size: 80%;
 }

.asideMainFooter {
    width: 100%;
    display: flex;
    height: 100%;
}
 .mainFooter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }

 main {
    height: 100%;
 }

 .registro {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 
 a {
    text-decoration: none;
 }